html, body
  -webkit-overflow-scrolling: touch

body
	font-family: $font-family-base
	font-size: $default-font-size
	font-weight: 400
	font-style: normal
	line-height: $default-line-height
	color: $default-text-color
	-webkit-font-smoothing: antialiased
  	-moz-osx-font-smoothing: grayscale
  	-webkit-backface-visibility: hidden
  	-webkit-tap-highlight-color: transparent
	overflow-x: hidden
h1,h2,h3,h4,h5
	font-weight: 600
	margin-top: 0
h1
	margin-bottom: 33px
	line-height: 88px
h2
	margin-bottom: 40px
h1,.h1
	font-size: 72px
	+max-screen($breakpoint-lg)
		font-size: 50px
h2,.h2
	font-size: 48px
h3,.h3
	font-size: 36px
	line-height: 48px
h4,.h4
	font-size: 20px
h5,.h5
	font-size: 18px
h6,.h6
	font-size: 16px
p
	font-size: 18px
	font-weight: 200
.fw-200
	font-weight: 200
.fw-600
	font-weight: 600
.md-30
	margin-bottom: 30px
.md-40
	margin-bottom: 40px
.fz-12
	font-size: 12px
