.button-slider
    width: 100% !important
.button
    font-weight: 200
    font-size: 15px
    line-height: 18px
    display: flex
    align-items: center
    text-align: center
    color: #FFFFFF
    padding: 15px 38px
    width: fit-content
    min-width: 200px
    justify-content: center
    text-decoration: none
    +max-screen($breakpoint-lg)
        font-size: 14px 
        min-width: 160px 
        padding: 11px 36px 
.button-primary
    background: $color-primary
.button-secondary
    background: transparent
    border: 1px solid #fff
    padding: 14px 37px 
    +max-screen($breakpoint-lg)
        padding: 10px 35px 
.buttons--row
    display: flex
    align-items: center
    justify-content: flex-start
    +max-screen($breakpoint-sm)
        justify-content: center
    .button
        &:first-child
            +max-screen($breakpoint-xl)
                margin-bottom: 15px
.button--wrapper
    +max-screen($breakpoint-md)
        display: flex
.slick-track
    display: flex
