.footer
    padding-top: 65px
    padding-bottom: 70px
    +max-screen($breakpoint-sm)
        text-align: center
    &__menu
        padding-left: 0
        &Item
            list-style: none
            font-size: 16px
            padding-bottom: 15px
            a
                color: #fff
                text-decoration: none
        &Title
            text-transform: uppercase
        &Wrapper
            max-width: 185px
    &__row
        justify-content: space-between
        +max-screen($breakpoint-sm)
            justify-content: center
#menu-footer-1
    padding: 0
#menu-footer-2
    padding: 0
#menu-footer-3
    padding: 0