.header
    padding: 40px
    padding-left: 30px 
    padding-right: 30px 
    padding-top: 34px
    position: relative
    .container 
        padding-left: 37.5px 
        padding-right: 37.5px
    +max-screen($breakpoint-lg)
        padding: 20px 20px 40px 
        .home &
            padding: 20px 20px 50px 
        .container 
            padding-left: 7.5px
            padding-right: 7.5px
    &__menuItem
        list-style: none
        margin-right: 43px
        padding-right: 5px
        font-size: 12px
        text-transform: uppercase
        +min-screen($breakpoint-xxl)
            font-size: 16px
        a 
            white-space: nowrap
            position: relative
            &::after
                content: ""
                position: absolute
                bottom: -4px 
                height: 1px 
                background-color: #fff
                left: 0
                transition: .3s
                width: 0
            &:hover
                text-decoration: none
                &::after 
                    width: 100%
        .sub-menu 
            a 
                white-space: normal
                text-transform: none
                &::after 
                    content: none
        &.sub 
            & > a 
                &::after 
                    content: none
    &__row
        align-items: center
    .logo__wrapper
        max-width: 100px
        padding-left: 0
        svg
            z-index: 1000
            width: 50px
            height: 14px
            +min-screen($breakpoint-xxl)
                width: 80px
                height: 30px
    +max-screen($breakpoint-lg)
        &__menuWrapper 
            li 
                a 
                    color: #000 
        &__menuInner
            display: flex 
            align-content: center
            justify-content: center
            height: 100%
        .menu-item-has-children 
            position: relative
            display: flex 
            flex-direction: column
            align-items: center
            .sub-menu 
                li:last-child 
                    padding-bottom: 18px 
            &.active 
                a
                    &::before
                        top: 7px
                        transform: rotate(135deg)
        .sub-menu
            position: static  
            li
                padding-right: 0
                padding-left: 0
        .menu-item 
            padding-right: 20px 
            padding-left: 20px     
            line-height: 1 
            a 
                padding-bottom: 0
                display: block
                line-height: 1.25   
    +min-screen(993px)
        padding-bottom: 110px
        .menu
            margin-top: 0
            margin-bottom: 0
            li
                line-height: 1      
#menu-header-main,#menu-header-ar,#menu-header-main-german,#menu-header-main-polish,#menu-header-main-portuguese-portugal,#menu-header-main-spanish
    display: flex
    flex-direction: row
.sub-menu
    display: none
    padding-top: 20px
    padding-left: 15px
    padding-right: 10px
    z-index: 2
.header__menuItem,.wpml-ls-item
    +min-screen(993px)
        position: relative
        &:hover
            .sub-menu
                display: block
                background: #fff
                width: 150px
                top: 30px
                transition: 3s
                position: absolute
.header__menuItem, .wpml-ls-menu-item.menu-item-has-children
    +min-screen(993px)
        &:hover
            padding-bottom: 30px 
            margin-bottom: -30px

.sub__item,
.sub-menu .wpml-ls-item
    font-size: 11px
    color: #000
    list-style: none
    padding-bottom: 10px
    position: relative
    &::after
        content: ""
        position: absolute
        bottom: 6px 
        left: 0
        height: 1px 
        width: 0
        transition: .3s
        background: #000
    &:hover
        &,
        a,
        a:hover
            text-decoration: none
        &::after 
            width: calc( 100% - 5px )
.wpml-ls-item .sub-menu 
    padding-bottom: 10px 
    padding-left: 10px 
.sub-menu .wpml-ls-item a
    font-size: 11px
    color: #000
    list-style: none
    padding-bottom: 10px
    position: relative
.sub__pdeuso
    position: absolute
    width: 150px
    padding: 15px
    font-size: 0
    top: -11px
    left: 0px
    height: 10px
.header__menuItem
    &.sub
        & > a 
            position: relative
        & > a:before
            content: " "
            position: absolute 
            width: 6px 
            height: 6px 
            border-left: 2px solid #fff 
            border-bottom: 2px solid #fff 
            right: -12px
            top: 4px
            transform: rotate(315deg)
            +min-screen($breakpoint-xxl)
                width: 8px 
                height: 8px
                right: -18px
.menu-toggle,.menu-toggle-active
    display: flex
    align-items: center
.menu-toggle,.menu-toggle-active
    display: none
.menu-toggle
    +max-screen($breakpoint-lg)
        display: block
        position: absolute
        top: 20px
        right: 21px
        z-index: 1000
.menu-active
    .header__row
        .menu-toggle-active
            display: block
            z-index: 1001
            position: fixed
            top: 40px
            right: 21px
.menu-active
    .header__row
        .menu-toggle
            transform: scale(0.1, 0)
            z-index: 1000
            transition: 1s
.header
    +max-screen($breakpoint-lg)
        .header__menuWrapper
            position: fixed
            top: 0
            left: -100%
            text-align: center
            z-index: 999
            background: #fff
            height: 100vh
            padding-top: 50px
            padding-left: 0
            padding-right: 0
            .header__menuItem
                width: fit-content
                margin-bottom: 30px
                margin-right: 0
            .header__menu
                flex-direction: column
                align-items: center
.header__menuItem
    a
        color: #fff
        text-decoration: none
.sub__item
    a
        font-size: 11px
        color: #000
        list-style: none
        padding-bottom: 10px
        &:hover
            text-decoration: underline
        +min-screen($breakpoint-xxl)
            font-size: 14px
#menu-header-main,#menu-header-ar,#menu-header-main-german,#menu-header-main-polish,#menu-header-main-portuguese-portugal,#menu-header-main-spanish
    +max-screen($breakpoint-lg)
        flex-direction: column
        align-items: center
        justify-content: center
        padding: 0
.header__menuItem
    +max-screen($breakpoint-lg)
        &.sub
            & > a:before
                border-left: 2px solid #000 
                border-bottom: 2px solid #000
                
.menu-toggle-active
    path
        stroke: #000
.wpml-ls-slot-2
    .sub-menu
        .menu-item
            padding-bottom: 10px
            a
                color: #000
                text-decoration: none
.wpml-ls-slot-2
    .sub-menu
        .menu-item
            list-style: none
            &:first-child
                &::before
                    content: ""
                    position:  absolute
                    padding: 15px
                    width: 100%
                    top: -30px
                    left: -15px
.wpml-ls-slot-2
    list-style: none
    text-align: center
    a
        text-transform: uppercase
        text-decoration: none
        font-size: 12px
        +min-screen(1440px)
            font-size: 16px
.wpml-ls-current-language
    margin-left: auto 
    display: flex
    &:before
        content: ""
        position: absolute 
        width: 6px 
        height: 6px 
        border-left: 2px solid #fff 
        border-bottom: 2px solid #fff 
        right: 0px
        top: 4px
        transform: rotate(315deg)
        +min-screen(1440px)
            width: 8px 
            height: 8px
        +max-screen($breakpoint-md)
            border-left: 2px solid #000 
            border-bottom: 2px solid #000 
    &:hover .sub-menu
        width: 80px 
        margin-left: -25px
        z-index: 10000
.header
    .menu
        display: flex
.menu
    padding-left: 0
.menu-active
    .wpml-ls-slot-2
        &.wpml-ls-current-language
            visibility: visible
            color: #000
            left: -6%
            right: unset
    .wpml-ls-slot-2
        &.wpml-ls-current-language
            a
                color: #000
                left: -6%
                right: unset
    .wpml-ls-current-language
        &:before
            border-left: 2px solid #000 
            border-bottom: 2px solid #000 
.wpml-ls-slot-2
    &.wpml-ls-current-language
        +max-screen($breakpoint-md)
            color: #000
            margin-left: auto
            margin-right: auto
            a
                span
                    color: #000
.menu-active
    .wpml-ls-current-language
        position: relative
        &:hover
            .sub-menu
                display: block
                background: #fff
                width: 150px
                top: 30px
                transition: 3s
                position: unset
.header 
    .header__menuWrapper 
        width: calc( 100% - 100px )
        padding-left: 77.5px 
        +max-screen(1100px)
            padding-left: 27.5px
        +max-screen($breakpoint-lg)
            padding-top: 0
            width: 100%
            padding-left: 0
        .header__menuItem
            +max-screen($breakpoint-sm)
                margin-bottom: 10px
.wpml-ls-current-language
    padding-right: 15px
.header 
    +max-screen($breakpoint-sm)
        padding: 20px 20px 69px 
        .home &
            padding: 20px 20px 90px 
.header__menuItem a
    +max-screen($breakpoint-lg)
        font-size: 14px
        font-weight: 600
.sub__pdeuso
    +max-screen($breakpoint-lg)
        display: none
.sub__item
    +max-screen($breakpoint-lg)
        a
            font-size: 12px
            font-weight: 600
+max-screen($breakpoint-lg)
    .mobile_menu_close
        background-image: url('../assets/images/close_menu.svg')
        top: 20px
        right: 21px
        width: 14px 
        height: 14px 
        background-size: contain
        position: fixed
        display: none
        .opened-menu &
            display: block
    .mobile_menu_open 
        background-image: url('../assets/images/open_menu.svg')
        top: 26px 
        right: 21px
        position: absolute
        width: 18px 
        height: 14px 
.sub-menu
    .wpml-ls-native
        +min-screen($breakpoint-xxl)
            font-size: 14px
.wpml-ls-current-language:hover .sub-menu
    +max-screen($breakpoint-md)
        margin-left: 0