.header
    padding: 40px
    padding-top: 34px
    position: relative
    +max-screen($breakpoint-lg)
        padding-left: 20px 
        padding-right: 20px 
        padding-top: 20px
        padding-bottom: 50px
    &__menuItem
        list-style: none
        margin-right: 23px
        padding-right: 20px
        font-size: 12px
        text-transform: uppercase
    &__row
        align-items: center
    .logo__wrapper
        width: 100px
        padding-left: 0
        svg
            z-index: 1000
            width: 50px
            height: 14px
#menu-header-main,#menu-header-ar,#menu-header-main-german,#menu-header-main-polish,#menu-header-main-portuguese-portugal,#menu-header-main-spanish
    display: flex
    flex-direction: row
.sub-menu
    display: none
    padding-top: 20px
    padding-left: 15px
    padding-right: 10px
    z-index: 2
.header__menuItem,.wpml-ls-item
    position: relative
    &:hover
        .sub-menu
            display: block
            background: #fff
            width: 150px
            top: 30px
            transition: 3s
            position: absolute
.sub__item
    font-size: 11px
    color: #000
    list-style: none
    padding-bottom: 10px
    &:hover
        text-decoration: underline
.sub__pdeuso
    position: absolute
    width: 150px
    padding: 15px
    font-size: 0
    top: -11px
    left: 0px
    height: 10px
.header__menuItem
    &.sub
        &:before
            content: " "
            position: absolute 
            width: 6px 
            height: 6px 
            border-left: 2px solid #fff 
            border-bottom: 2px solid #fff 
            right: 0
            top: 30%
            transform: rotate(315deg)
.header__menuItem
    &.sub
        &:hover         
            &:before
                transform: rotate(135deg)
                transition: 0.3s
                top: 41%
.menu-toggle,.menu-toggle-active
    display: flex
    align-items: center
.menu-toggle,.menu-toggle-active
    display: none
.menu-toggle
    +max-screen($breakpoint-lg)
        display: block
        position: absolute
        top: 20px
        right: 21px
        z-index: 1000
.menu-active
    .header__row
        .menu-toggle-active
            display: block
            z-index: 1001
            position: absolute
            top: 40px
            right: 21px
.menu-active
    .header__row
        .menu-toggle
            transform: scale(0.1, 0)
            z-index: 1000
            transition: 1s
.header
    +max-screen($breakpoint-lg)
        .header__menuWrapper
            position: absolute
            top: 0
            left: -100%
            text-align: center
            z-index: 999
            background: #fff
            height: 100vh
            padding-top: 50px
            padding-left: 0
            padding-right: 0
            transition: 1s
            .header__menuItem
                width: fit-content
                margin-bottom: 30px
                margin-right: 0
            .header__menu
                flex-direction: column
                align-items: center
.header
    +max-screen($breakpoint-lg)
        &.menu-active
            .header__menuWrapper
                left: 0
                transition: 1s
                display: flex
                align-items: center
                justify-content: center
.header__menuItem
    a
        color: #fff
        text-decoration: none
.sub__item
    a
        font-size: 11px
        color: #000
        list-style: none
        padding-bottom: 10px
        &:hover
            text-decoration: underline
#menu-header-main,#menu-header-ar,#menu-header-main-german,#menu-header-main-polish,#menu-header-main-portuguese-portugal,#menu-header-main-spanish
    +max-screen($breakpoint-lg)
        flex-direction: column
        align-items: center
        justify-content: center
        padding: 0
.menu-active
    +max-screen($breakpoint-lg)
        #menu-header-main,#menu-header-ar,#menu-header-main-german,#menu-header-main-polish,#menu-header-main-portuguese-portugal,#menu-header-main-spanish
            .header__menuItem
                a
                    color: #000
.header__menuItem
    +max-screen($breakpoint-lg)
        &.sub
            &:before
                border-left: 2px solid #000 
                border-bottom: 2px solid #000 
.menu-active
    .header__menuItem
        &:hover
            &::before
                top: 10px
.menu-active
    .header__menuItem
        position: relative
        &:hover
            .sub-menu
                display: block
                background: #fff
                width: 150px
                top: 30px
                transition: 3s
                position: unset
.menu-toggle-active
    path
        stroke: #000
.wpml-ls-slot-2
    .sub-menu
        .menu-item
            padding-bottom: 10px
            a
                color: #000
                text-decoration: none
.wpml-ls-slot-2
    .sub-menu
        .menu-item
            list-style: none
            &:hover
                text-decoration: underline
            &:first-child
                &::before
                    content: ""
                    position:  absolute
                    padding: 15px
                    width: 100%
                    top: -30px
                    left: -15px
.wpml-ls-slot-2
    list-style: none
    text-align: center
    a
        text-transform: uppercase
        text-decoration: none
        font-size: 12px
.wpml-ls-current-language
    position: absolute
    right: -172px
    &:before
            content: " "
            position: absolute 
            width: 6px 
            height: 6px 
            border-left: 2px solid #fff 
            border-bottom: 2px solid #fff 
            right: 0px
            top: 40%
            transform: rotate(315deg)
.wpml-ls-current-language
    &:hover         
        &:before
            transform: rotate(135deg)
            transition: 0.3s
            top: 41%
.header
    .menu
        display: flex
.menu
    padding-left: 0
.menu-active
    .wpml-ls-slot-2
        &.wpml-ls-current-language
            visibility: visible
            color: #000
            left: -6%
            right: unset
    .wpml-ls-slot-2
        &.wpml-ls-current-language
            a
                color: #000
                left: -6%
                right: unset
    .wpml-ls-current-language
        &:before
            border-left: 2px solid #000 
            border-bottom: 2px solid #000 
.wpml-ls-slot-2
    &.wpml-ls-current-language
        +max-screen($breakpoint-md)
            visibility: hidden
.menu-active
    .wpml-ls-current-language
        position: relative
        &:hover
            .sub-menu
                display: block
                background: #fff
                width: 150px
                top: 30px
                transition: 3s
                position: unset
.header 
    .header__menuWrapper 
        .header__menuItem
            +max-screen($breakpoint-sm)
                margin-bottom: 10px
.wpml-ls-current-language
    padding-right: 15px
.menu-item
    a
        &:hover
            text-decoration: underline
.header 
    +max-screen($breakpoint-sm)
        padding: 20px 20px 90px
.header__menuItem a
    +max-screen($breakpoint-lg)
        font-size: 14px
        font-weight: 600
.sub__pdeuso
    +max-screen($breakpoint-lg)
        display: none
.sub__item
    +max-screen($breakpoint-lg)
        a
            font-size: 12px
            font-weight: 600