.about
    padding-top: 110px
    padding-bottom: 110px
    +max-screen($breakpoint-lg)
        padding-top: 70px
        padding-bottom: 50px 
    +max-screen($breakpoint-sm)
        padding-top: 40px
        padding-bottom: 10px  
    h3
        max-width: 460px
    &__card__item
        background: #0B151F
        padding: 50px 60px
        margin-bottom: 30px
        &:nth-child(3)
            margin-bottom: 0
        p
            margin-top: 0
            margin-bottom: 40px
        &Image
            max-width: 100%
    &__card__item
        +max-screen($breakpoint-sm)
            padding: 21px
            &Wrapper 
                &:last-child
                    margin-bottom: 0
    +max-screen($breakpoint-lg)
        .row 
            margin-left: -12.5px
            margin-right: -12.5px
        &__card__item 
            padding: 27px 38px 0
            margin-bottom: 18px 
            p
                margin-bottom: 0
                padding-bottom: 40px
            &Image 
                margin-top: -40px
            h4 
                margin-bottom: 10px
            &Wrapper 
                padding-left: 12.5px 
                padding-right: 12.5px
                +max-screen($breakpoint-sm)
                    padding-left: 7.5px
                    padding-right: 7.5px
            .button_wrapper
                margin-top: -30px 
                padding-bottom: 25px 
.big
    .about__card__item
        &:nth-child(1)
            height: 50%
        &:nth-child(2)
            margin-bottom: 0
            height: 47.5%
.security
    .about__card__item
        height: 50%
.regulation
     .about__card__item
        height: 100%
.about__card__itemWrapper
    .about__card__item
        &:last-child
            margin-bottom: 0

+max-screen($breakpoint-sm)
    .about__card__item:nth-child(3)
        margin-bottom: 11px
.about__card__item
    +max-screen($breakpoint-sm)
        margin-bottom: 11px
        padding: 21px
        p
            padding-bottom: 20px
            font-size: 14px
        h4
            font-size: 20px
.about__card__item 
    +max-screen($breakpoint-sm)
        h4
            font-size: 14px
.page-template-about--company
    .about__card__itemWrapper__first
        .about__card__item
            height: 30%
    .about__card__itemWrapper
        .about__card__item
            &:first-child
                height: 65%
            &:last-child
                height: 31%
.page-template-about--services
    .big 
        .about__card__item
            &:nth-child(2)
                height: 50.1%