.slider
    position: relative
    &__item
        &Wrapper
            margin-right: 22.5px
            margin-left: 22.5px
        &Inner
            background: #0B151F
            padding: 25px
            h3
                text-align: center
            h5
                text-align: center
.slick-list
    overflow-x: clip
    padding: 0
.prev
    position: absolute
    right: -55px
    top: 50%
    +max-screen($breakpoint-sm)
        right: 5px
        svg
            max-width: 28px
.next
    position: absolute
    left: -55px
    top: 50%
    +max-screen($breakpoint-sm)
        left: 5px
        svg
            max-width: 28px
.account--slider
    padding-top: 100px
    padding-bottom: 100px
.slick-list
    padding: 0 !important
.slick-center
    margin-top: -30px