.advantages
    background: #000
    &__contentWrapper
        padding: 0
        padding-left: 7.5px
        padding-top: 90px
        max-width: 730px 
        padding-bottom: 50px 
        margin-left: auto 
        h3
            max-width: 445px
            line-height: 1.6
            margin-bottom: 40px
        .container 
            padding-left: 30px
            padding-right: 30px 
            +max-screen($breakpoint-lg)
                padding-left: 20px 
                padding-right: 20px 
        +max-screen($breakpoint-lg)
            max-width: 53.5% 
            flex: 0 0 53.5%
            padding-bottom: 22px
            padding-top: 36px 
            h3 
                max-width: 290px 
                margin-right: auto
                margin-left: 0
                line-height: 1.45
    &__item
        margin-bottom: 22px
        p 
            margin-top: 14px 
        svg 
            width: 50px 
            height: 50px 
        +max-screen($breakpoint-lg)
            margin-bottom: 6px
            p 
                font-size: 14px
            svg 
                width: 40px 
                height: 40px 
    &__imageWrapper
        padding: 0
        img 
            height: 100%
            object-fit: cover 
            object-position: center
        +max-screen($breakpoint-lg)
            max-width: 46.5%
            flex: 0 0 46.5%
    &__image
        max-width: 100%
        filter: brightness(.5)
        object-fit: fill
        width: 100%
    &__row
        justify-content: space-between

.advantages__reverse
    .advantages
        &__contentWrapper
            padding: 0
            padding-left: 90px
            padding-top: 90px
            background: #04070D
.application
    .advantages__contentInner
        svg
            margin-right: 20px
.about__advantages__item
    max-width: 180px
