.card
    padding-top: 110px
    padding-bottom: 110px
    &__item
        margin-bottom: 40px
        &Content
            padding-left: 60px
            padding-right: 40px
            padding-top: 30px
            padding-bottom: 30px
            +max-screen($breakpoint-sm)
                padding-left: 20px
                padding-right: 20px
                h3
                    line-height: 29px
                    font-size: 24px
        &Inner
            background: #0B151F
            height: 100%
        &Image
            filter: brightness(.5)
            max-width: 100%
            object-fit: cover
            width: 100%