.card
    padding-top: 110px
    padding-bottom: 110px
    &__item
        margin-bottom: 40px

        &Content
            padding-left: 60px
            padding-right: 40px
            padding-top: 30px
            padding-bottom: 30px
            +max-screen($breakpoint-sm)
                padding-left: 20px
                padding-right: 20px
                h3
                    line-height: 29px
                    font-size: 24px
        &Inner
            background: #0B151F
            height: 100%
        &Image
            filter: brightness(.5)
            object-fit: cover
            width: 100%
    +max-screen($breakpoint-lg)
        padding-top: 80px
        padding-bottom: 40px
        &__item
            padding-left: 16.5px 
            padding-right: 16.5px 
            &Image
                max-height: 160px 
                min-width: 100%
            &Content 
                padding: 20px 23px 14px 27px
                p 
                    font-size: 14px
                    margin-top: 10px 
                h3
                    margin-bottom: 10px
        &__row 
            margin-left: -16.5px 
            margin-right: -16.5px 
    +max-screen($breakpoint-sm)
        &__item 
            margin-bottom: 18px 
            &:last-child
                margin-bottom: 0
            &Content
                padding: 20px 23px 14px 
                p
                    &:last-child
                        margin-bottom: 0
            &Inner
                img 
                    height: 160px 