.efficiency
    padding-top: 110px
    padding-bottom: 110px
    .about__card__item
        height: 100%
        
.about__card__itemWrapper
    margin-bottom: 30px
.numbers
    display: flex
    align-items: flex-end
    h2
        width: fit-content
        margin-right: 10px
        margin-bottom: 0
    h4
        width: fit-content
        margin-bottom: 0
