.partners
    padding-bottom: 145px
    +max-screen($breakpoint-sm)
        display: none
    &__item
        max-width: 100%
        &Wrapper 
            display: flex
            align-items: center
            margin-left: 8px
            margin-right: 8px
            margin-bottom: 35px
            +max-screen($breakpoint-md)
                margin-left: 0
                margin-right: 0
            p
                margin: 0
    &__heading
        p
            margin-top: 0
        h3
            margin-bottom: 20px
.partners__itemWrapper
    +max-screen($breakpoint-md)
        justify-content: center
        partners__headin